.desciption{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex:1;
    padding: 1rem;
}
.desciption img{
    height: 8rem;
}

.desciption h2{
    margin: 0;
    margin-bottom: 0.1rem;
    text-align: left;
}
.desciption p{
    margin: 0;
    text-align: left;
}